<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.smbms.dao.ProviderMapper">
    <!--分页查询供应商列表-->
    <select id="findByPage" resultType="Provider">
        select * from `smbms_provider`
        <where>
            <if test="proCode!=null and proCode!=''">AND `proCode` LIKE CONCAT('%',#{proCode},'%')</if>
            <if test="proName!=null and proName!=''">AND `proName` LIKE CONCAT('%',#{proName},'%')</if>
        </where>
        order by creationDate desc limit #{pageNo},#{pageSize}
    </select>
    <!--查询供应商总条数-->
    <select id="findByPageCount" resultType="Integer">
        SELECT count(1) FROM `smbms_provider`
        <where>
            <if test="proCode!=null and proCode!=''">AND `proCode` LIKE CONCAT('%',#{proCode},'%')</if>
            <if test="proName!=null and proName!=''">AND `proName` LIKE CONCAT('%',#{proName},'%')</if>
        </where>
    </select>
    <!--查询所有供应商名称-->
    <select id="findName" resultType="Provider">
        SELECT `id`,`proName`FROM `smbms_provider`
    </select>
    <!--添加供应商-->
    <insert id="addPrivider" parameterType="Provider">
        INSERT INTO `smbms`.`smbms_provider` (`proCode`, `proName`, `proDesc`,
        `proContact`, `proPhone`,`proAddress`,`proFax`,`createdBy`,`creationDate`)
        VALUES(#{proCode}, #{proName},#{proDesc}, #{proContact}, #{proPhone},
        #{proAddress}, #{proFax}, #{createdBy}, #{creationDate})
    </insert>
    <!--根据id查询供应商-->
    <select id="findProviderById" resultType="Provider">
        SELECT * FROM `smbms_provider` WHERE id=#{id}
    </select>
    <!--修改供应商-->
    <update id="providerModify" parameterType="Provider">
        UPDATE `smbms`.`smbms_provider` SET`proCode` = #{proCode},
        `proName` = #{proName},`proDesc` = #{proDesc},`proContact` = #{proContact}, `proPhone` = #{proPhone},
        `proAddress` = #{proAddress}, `proFax` = #{proFax},`modifyDate` = #{modifyDate},`modifyBy` = #{modifyBy}
        WHERE `id` = #{id}
    </update>
    <!--删除供应商-->
    <delete id="delprovider">
        DELETE FROM`smbms`.`smbms_provider` WHERE `id` = #{id}
    </delete>
</mapper>