<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 给cn.bdqn.pojo下面的类起别名 -->
    <typeAliases>
        <package name="cn.bdqn.smbms.pojo"/>
    </typeAliases>
</configuration>